__pycache__

.tmp.*

wandb

# Ignore large processed sample files
**/samples_*.npz
**/testhis.npz
**/trainhis.npz
**/valhis.npz
**/experiments/
*_astcgn.npz
*_astgcn.npz

# Ignore STDN internal data folder (use shared data folder instead)
STDN/data/
